@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao LeilaoApp!</h1>
    <p>Escolha no menu acima para vizualizar os cadastros e os lances.</a>.</p>
</div>
